.wrap{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;

  .main {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #404040;

    canvas {
      transition: all .5s ease;
    }
  }

  .canvasWrap {
    position: relative;
  }
}

.previewBox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
}