.panel {
  width: 280px;
  height: calc(100% - 60px) !important;
  position: absolute;
  right: 10px;
  left: unset;
  top: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;


  &.preview {
    visibility: hidden;
    transition: none;
  }

  .panelContent {
    display: flex;
    flex-direction: column;
    & .generalInput {
      padding-inline: 10px;
      border-radius: 4px;
      height: 30px;
      outline: none;
      border: 1px solid var(--blue-300);
      &:hover, &:active, &:focus {
        border: 2px solid var(--blue-500);
      }
    }
  }
}
.alignmentBtns {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 4px;
  border: 1px solid var(--gray-200);
  button {
    flex: 1;
    border-radius: 0;
    & svg {
      width: 14px;
      height: 14px;
    }
  }
}
.fontFamilySelector {
  height: 30px;
  width: 100%;
  & .MuiSelect-select {
    max-height: 30px;
  }
}