$svgStroke: #666;
$svgFill: #ccc;

.wrap {
  //background: #faf7f7;
  //color: #333;

  .btns {
    &> button {
      text-transform: none;
    }

    //svg{
    //  //fill: $svgFill;
    //  stroke: $svgStroke;
    //  path {
    //    //fill: $svgFill;
    //    stroke: $svgStroke;
    //  }
    //}
  }
}

.zoomer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .reset {
    width: 2.5rem;
    cursor: pointer;
    text-align: center;
  }

  .btnMode {
    border-radius: 100%;
    margin-right: 10px;

    &.active {
      background: #dfe3ec;
    }

    &.disable{
      background: #c3c4c5;
      opacity: 0.5;
    }
  }

}