.main {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.canvas {
  display: flex;
  overflow: auto;
  border-radius: 4px;
  > div {
    height: 100% !important;
    > canvas {
      height: 100% !important;

  :global {
    .canvas-container {
      transition: all 0.3s ease;
    }
  }

  canvas {
    transition: all 0.3s ease;
  }
    }
  }
}