.main {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.canvas {
  display: flex;
  overflow: auto;
  border-radius: 8px;

  :global {
    .canvas-container {
      transition: all 0.3s ease;
    }
  }

  canvas {
    transition: all 0.3s ease;
  }
}