.modal {
  :global{
    .MuiDialogContent-root {
      min-width: 500px;
    }
    .MuiPaper-root {
      max-width: max-content;
      position: absolute;
      top: 10%;
    }
  }

  .body {
    max-height: 600px;
    overflow: auto;
  }
}