.shapesWrapper {
  span {
    font-size: 14px;
  }
  > button {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    > svg {
      width: 20px;
      margin-right: 5px;
    }
  }
}

.active {
  background-color: var(--blue-100);
  border: 1px solid var(--blue-200);
}

.notActive {
  background-color: transparent;
}