.wrap {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .preview {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 10px;

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      min-height: 100px;
      outline: 1px solid #ccc;
      cursor: pointer;

      &:hover, &.selected{
        background: #ddd;
      }
    }
  }
}